<div ng-cloak>
    <div class="row">
        <div class="col-md-12">
            <span class="doge img-responsive">
                <!--<span class="circle circle-medium circle-black">
                    <h1>ברוכים הבאים למבצע אפיקומן!</h1>
                </span>-->
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr style="border-top: 3px solid black; margin-top: 3px; margin-bottom: 3px">
            <hr style="border-top: 1px solid black; margin-top: 3px; margin-bottom: 3px">
            <hr style="border-top: 1px dotted black; margin-top: 3px; margin-bottom: 20px">
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-md-offset-1 hidden-xs">
            <h4>עקבו אחרינו:</h4>
            <div class="row"> <!-- Facebook button -->
                <a class="circle circle-xsmall circle-black" href="https://www.facebook.com/pages/מבצע-אפיקומן/1525643407709169" style="text-decoration: none">
                    <p style="width: 100%;font-size: 18px;margin: 0">f</p>
                </a>
            </div>
            <div class="row" style="margin-top: 70%;">
                <button type="button" class="circle circle-small circle-black" ng-click="login('Organization')">
                    <p style="width: 100%;font-size: 18px;">צור קשר</p>
                </button>
            </div>            
        </div>
        <div class="col-md-4" style="margin-top: 5%;">
            <button type="button" class="btn circle circle-medium circle-green" ng-click="login('Organization')">
                <p style="width: 100%;font-size: 50px;">כניסת ילדים</p>
            </button>
        </div>
        <div class="col-md-4" style="margin-right: -2%;">
            <button type="button" class="btn btn-default circle circle-medium circle-pink" ng-click="login('Company')">
                <p style="width: 100%;font-size: 50px;">כניסת חברות</p>
            </button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <hr style="border-top: 3px solid black; margin-top: 3px; margin-bottom: 3px">
            <hr style="border-top: 1px solid black; margin-top: 3px; margin-bottom: 3px">
            <hr style="border-top: 1px dotted black; margin-top: 3px; margin-bottom: 20px">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>מבצע אפיקומן הינו מיזם חברתי ששם לו למטרה לשמח ילדים בסיכון עם מתנה לקראת חג הפסח.<br />המיזם נולד כרצון שלנו, עובדים בתעשייה הישראלית, לפעול גם בתחומים חברתיים ולאפשר לילדים שחיים בחסר, לקבל מתנת חג שהם חפצים בה.<br />את המיזם התחלנו כשני סטארט-אפים בתחומים שונים, שרצו לעשות מעשה, ומהר מאד גילינו שאנו לא לבד, ושהרצון לתת הוא משותף לחברות רבות בתעשייה הישראלית.<br /><br />אנחנו גאים להיות חלק מהמיזם הזה, וממרקם אנושי שרוצה לתת ולתרום, ומזמינים אתכם להצטרף אלינו.</h2>
            <br />
            <h1><strong>רוצה להצטרף אלינו?</strong></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr style="border-top: 3px solid black; margin-top: 3px; margin-bottom: 3px">
            <hr style="border-top: 1px solid black; margin-top: 3px; margin-bottom: 3px">
            <hr style="border-top: 1px dotted black; margin-top: 3px; margin-bottom: 20px">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2 style="color: rgb(208, 71, 206);">חברות משתתפות</h2>            
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-4">
            <span class="img-responsive img-rounded" style="background: url('/assets/images/affiliates/companies/playtech-logo.png') no-repeat center top; background-size: contain; width: 200px; height: 100px; display: inline-block"></span>
        </div>
        <div class="col-md-4">
            <span class="img-responsive img-rounded" style="background: url('/assets/images/affiliates/companies/rhodium.png') no-repeat center top; background-size: contain; width: 200px; height: 100px; display: inline-block"></span>
        </div>
        <div class="col-md-4">
            <span class="img-responsive img-rounded" style="background: url('/assets/images/affiliates/companies/sapiens-logo.jpg') no-repeat center top; background-size: contain; width: 200px; height: 100px; display: inline-block"></span>
        </div>        
    </div>
    <div class="row">
        <div class="col-md-4">
            <span class="img-responsive img-rounded" style="background: url('/assets/images/affiliates/companies/sears.png') no-repeat center top; background-size: contain; width: 200px; height: 100px; display: inline-block"></span>
        </div>
        <div class="col-md-4">
            <span class="img-responsive img-rounded" style="background: url('/assets/images/affiliates/companies/vocalzoom.png') no-repeat center top; background-size: contain; width: 200px; height: 100px; display: inline-block"></span>
        </div>
        <div class="col-md-4">
            <span class="img-responsive img-rounded" style="background: url('/assets/images/affiliates/companies/malam.png') no-repeat center top; background-size: contain; width: 200px; height: 100px; display: inline-block"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <span class="img-responsive img-rounded" style="background: url('/assets/images/affiliates/organizations/beit-rut.jpg') no-repeat center top; background-size: contain; width: 200px; height: 100px; display: inline-block"></span>
        </div>
        <div class="col-md-4">
            <span class="img-responsive img-rounded" style="background: url('/assets/images/affiliates/organizations/or-shalom.png') no-repeat center top; background-size: contain; width: 200px; height: 100px; display: inline-block"></span>
        </div>
        <div class="col-md-4">
            <span class="img-responsive img-rounded" style="background: url('/assets/images/affiliates/organizations/ruach-nashit.jpg') no-repeat center top; background-size: contain; width: 200px; height: 100px; display: inline-block"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <span class="img-responsive img-rounded" style="background: url('/assets/images/affiliates/organizations/sos-logo.png') no-repeat center top; background-size: contain; width: 200px; height: 100px; display: inline-block"></span>
        </div>
        <div class="col-md-4">
            <span class="img-responsive img-rounded" style="background: url('/assets/images/affiliates/organizations/yad-beyad.jpg') no-repeat center top; background-size: contain; width: 200px; height: 100px; display: inline-block"></span>
        </div>        
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <hr style="border-top: 3px solid black; margin-top: 3px; margin-bottom: 3px">
            <hr style="border-top: 1px solid black; margin-top: 3px; margin-bottom: 3px">
            <hr style="border-top: 1px dotted black; margin-top: 3px; margin-bottom: 20px">
        </div>
    </div>    
</div>
