<div ng-cloak>
    <div class="row">
        <div class="col-md-12">
            <span class="doge img-responsive">
                <!--<span class="circle circle-medium circle-black">
                    <h1>ברוכים הבאים למבצע אפיקומן!</h1>
                </span>-->
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr style="border-top: 3px solid black; margin-top: 3px; margin-bottom: 3px">
            <hr style="border-top: 1px solid black; margin-top: 3px; margin-bottom: 3px">
            <hr style="border-top: 1px dotted black; margin-top: 3px; margin-bottom: 20px">
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-md-offset-1 hidden-xs">
            <h4>עקבו אחרינו:</h4>
            <div class="row"> <!-- Facebook button -->
                <a class="circle circle-xsmall circle-black" href="https://www.facebook.com/%D7%9E%D7%91%D7%A6%D7%A2-%D7%90%D7%A4%D7%99%D7%A7%D7%95%D7%9E%D7%9F-1525643407709169/?ref=aymt_homepage_panel" target="_blank" style="text-decoration: none">
                    <p style="width: 100%;font-size: 18px;margin: 0">f</p>
                </a>
            </div>
            <div class="row" style="margin-top: 70%;">
                <button type="button" class="circle circle-small circle-black" ng-click="aboutUs()">
                    <p style="width: 100%;font-size: 18px;margin-top: 9px;">צור קשר</p>
                </button>
            </div>
        </div>
        <div class="col-md-4" style="margin-top: 5%;">
            <button type="button" class="btn circle circle-medium circle-green" ng-click="login('Organization')">
                <p style="width: 100%;font-size: 50px;">כניסת ילדים</p>
            </button>
        </div>
        <div class="col-md-4" style="margin-right: -2%;">
            <button type="button" class="btn btn-default circle circle-medium circle-pink" ng-click="login('Company')">
                <p style="width: 100%;font-size: 50px;">כניסת חברות</p>
            </button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <hr style="border-top: 3px solid black; margin-top: 3px; margin-bottom: 3px">
            <hr style="border-top: 1px solid black; margin-top: 3px; margin-bottom: 3px">
            <hr style="border-top: 1px dotted black; margin-top: 3px; margin-bottom: 20px">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="lead">מבצע אפיקומן הינו פרויקט ייחודי, ששם לו למטרה לשמח ילדים שידם אינה משגת,
במתנת חג אישית בפסח.</p>
<p class="larger">
אנחנו לא עמותה וזו לא ההתמחות שלנו, אין לנו כל עניין מסחרי או שיווקי אלא רק רצון טוב להטיב את החג עם ילדים בסיכון. "מבצע אפיקומן" החל בחזון אישי של בני רוזנבוים מייסד חברת BioCatch, והפך לפרויקט ייחודי, המגייס עובדים בתעשייה הישראלית לפעול בתחומים חברתיים ולאפשר לילדים שחיים בחסר לקבל מתנת חג.<br />
ילדים נזקקים אינם זוכים ולבקש ולהתרגש בקבלת מתנות חדשות עבורם. ייחודיות הפרויקט הינה בחיבור האנושי של הצורך לתת ולבקש. "מבצע אפיקומן" עונה על צורך זה ומחבר בין ארגונים לעמותות ובין עובדים לילדים ומאפשר מעורבות אישית הן של התורם והן של הנתרם.<br />
מבצע אפיקומן מזמין כל אחד מהעובדים, לבחור לקנות מתנה אישית לילד\ה מתוך רשימת מתנות מ 40-120 ₪.</p>
            <br />
            <!--<h1><strong>רוצה להצטרף אלינו?</strong></h1>-->
        </div>
    </div>
    <!--
    <div class="row">
        <div class="col-md-12">
            <hr style="border-top: 3px solid black; margin-top: 3px; margin-bottom: 3px">
            <hr style="border-top: 1px solid black; margin-top: 3px; margin-bottom: 3px">
            <hr style="border-top: 1px dotted black; margin-top: 3px; margin-bottom: 20px">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2 style="color: rgb(208, 71, 206);">חברות משתתפות</h2>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-4">
            <span class="img-responsive img-rounded" style="background: url('/assets/images/affiliates/companies/playtech-logo.png') no-repeat center top; background-size: contain; width: 200px; height: 100px; display: inline-block"></span>
        </div>
        <div class="col-md-4">
            <span class="img-responsive img-rounded" style="background: url('/assets/images/affiliates/companies/rhodium.png') no-repeat center top; background-size: contain; width: 200px; height: 100px; display: inline-block"></span>
        </div>
        <div class="col-md-4">
            <span class="img-responsive img-rounded" style="background: url('/assets/images/affiliates/companies/sapiens-logo.jpg') no-repeat center top; background-size: contain; width: 200px; height: 100px; display: inline-block"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <span class="img-responsive img-rounded" style="background: url('/assets/images/affiliates/companies/sears.png') no-repeat center top; background-size: contain; width: 200px; height: 100px; display: inline-block"></span>
        </div>
        <div class="col-md-4">
            <span class="img-responsive img-rounded" style="background: url('/assets/images/affiliates/companies/vocalzoom.png') no-repeat center top; background-size: contain; width: 200px; height: 100px; display: inline-block"></span>
        </div>
        <div class="col-md-4">
            <span class="img-responsive img-rounded" style="background: url('/assets/images/affiliates/companies/malam.png') no-repeat center top; background-size: contain; width: 200px; height: 100px; display: inline-block"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2 style="color: rgb(208, 71, 206);">עמותות משתתפות</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <span class="img-responsive img-rounded" style="background: url('/assets/images/affiliates/organizations/beit-rut.jpg') no-repeat center top; background-size: contain; width: 200px; height: 100px; display: inline-block"></span>
        </div>
        <div class="col-md-4">
            <span class="img-responsive img-rounded" style="background: url('/assets/images/affiliates/organizations/or-shalom.png') no-repeat center top; background-size: contain; width: 200px; height: 100px; display: inline-block"></span>
        </div>
        <div class="col-md-4">
            <span class="img-responsive img-rounded" style="background: url('/assets/images/affiliates/organizations/ruach-nashit.jpg') no-repeat center top; background-size: contain; width: 200px; height: 100px; display: inline-block"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <span class="img-responsive img-rounded" style="background: url('/assets/images/affiliates/organizations/sos-logo.png') no-repeat center top; background-size: contain; width: 200px; height: 100px; display: inline-block"></span>
        </div>
        <div class="col-md-4">
            <span class="img-responsive img-rounded" style="background: url('/assets/images/affiliates/organizations/yad-beyad.jpg') no-repeat center top; background-size: contain; width: 200px; height: 100px; display: inline-block"></span>
        </div>
    </div>
    -->
    <br />
    <div class="row">
        <div class="col-md-12">
            <hr style="border-top: 3px solid black; margin-top: 3px; margin-bottom: 3px">
            <hr style="border-top: 1px solid black; margin-top: 3px; margin-bottom: 3px">
            <hr style="border-top: 1px dotted black; margin-top: 3px; margin-bottom: 20px">
        </div>
    </div>
</div>
