<div>

    <h2 translate="afikomanApp.company.home.title">Company</h2>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveCompanyModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> <span translate="afikomanApp.company.home.createLabel">Create a new Company</span>
    </button>
    <div class="modal fade" id="saveCompanyModal" tabindex="-1" role="dialog" aria-labelledby="myCompanyLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myCompanyLabel" translate="afikomanApp.company.home.createOrEditLabel">Create or edit a Company</h4>
                    </div>
                    <div class="modal-body">
                        <!--
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="company.id" readonly>
                        </div>-->
                        <div class="form-group">
                            <label translate="afikomanApp.company.name">Name</label>
                            <input type="text" class="form-control"
                                   ng-model="company.name">
                        </div>
                        <!--
                        <div class="form-group">
                            <label translate="afikomanApp.company.dateAdded">DateAdded</label>
                            <input type="datetime-local" class="form-control"
                                   ng-model="company.dateAdded" ng-model-options="{timezone: 'UTC'}">
                        </div>                        
                        <div class="form-group">
                            <label translate="afikomanApp.company.password">Password</label>
                            <input type="text" class="form-control"
                                   ng-model="company.password">
                        </div>
                        -->
                        <div class="form-group">
                            <label translate="afikomanApp.company.pocEmail">PocEmail</label>
                            <input type="text" class="form-control"
                                   ng-model="company.pocEmail">
                        </div>
                        <div class="form-group">
                            <label translate="afikomanApp.company.metadata">Metadata</label>
                            <input type="text" class="form-control"
                                   ng-model="company.metadata">
                        </div>
                        <div class="form-group">
                            <label translate="afikomanApp.company.description">Description</label>
                            <input type="text" class="form-control"
                                   ng-model="company.description">
                        </div>
                        <div class="form-group">
                            <label translate="afikomanApp.company.website">Website</label>
                            <input type="text" class="form-control"
                                   ng-model="company.website">
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteCompanyConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" ng-submit="confirmDelete(company.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="afikomanApp.company.delete.question" translate-values="{id: '{{company.id}}'}">Are you sure you want to delete Company {{company.id}}?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th translate="afikomanApp.company.name">Name</th>
                    <th translate="afikomanApp.company.dateAdded">DateAdded</th>                    
                    <th translate="afikomanApp.company.pocEmail">PocEmail</th>
                    <th translate="afikomanApp.company.metadata">Metadata</th>
                    <th translate="afikomanApp.company.description">Description</th>
                    <th translate="afikomanApp.company.website">Website</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="company in companys">
                    <td><a ui-sref="companyDetails({id:company.id})">{{company.id}}</a></td>
                    <td>{{company.name}}</td>
                    <td>{{company.dateAdded}}</td>
                    <td>{{company.pocEmail}}</td>
                    <td>{{company.metadata}}</td>
                    <td>{{company.description}}</td>
                    <td>{{company.website}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="companyDetail({id:company.id})"
                                class="btn btn-info">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="update(company.id)"
                                class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(company.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
