<div>

    <h2 translate="afikomanApp.adoption.home.title">Adoption</h2>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveAdoptionModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> <span translate="afikomanApp.adoption.home.createLabel">Create a new Adoption</span>
    </button>
    <div class="modal fade" id="saveAdoptionModal" tabindex="-1" role="dialog" aria-labelledby="myAdoptionLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myAdoptionLabel" translate="afikomanApp.adoption.home.createOrEditLabel">Create or edit a Adoption</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="adoption.id" readonly>
                        </div>

                        <div class="form-group">
                            <label translate="afikomanApp.adoption.employeeName">EmployeeName</label>
                            <input type="text" class="form-control"
                                   ng-model="adoption.employeeName">
                        </div>
                        <div class="form-group">
                            <label translate="afikomanApp.adoption.employeeEmail">EmployeeEmail</label>
                            <input type="text" class="form-control"
                                   ng-model="adoption.employeeEmail">
                        </div>
                        <div class="form-group">
                            <label translate="afikomanApp.adoption.company">Company</label>
                            <input type="text" class="form-control"
                                   ng-model="adoption.company">
                        </div>
                        <div class="form-group">
                            <label translate="afikomanApp.adoption.organization">Organization</label>
                            <input type="text" class="form-control"
                                   ng-model="adoption.organization">
                        </div>
                        <div class="form-group">
                            <label translate="afikomanApp.adoption.kid">Kid</label>
                            <input type="text" class="form-control"
                                   ng-model="adoption.kid">
                        </div>
                        <div class="form-group">
                            <label translate="afikomanApp.adoption.kidId">KidId</label>
                            <input type="number" class="form-control"
                                   ng-model="adoption.kidId">
                        </div>
                        <div class="form-group">
                            <label translate="afikomanApp.adoption.organizationId">OrganizationId</label>
                            <input type="number" class="form-control"
                                   ng-model="adoption.organizationId">
                        </div>
                        <div class="form-group">
                            <label translate="afikomanApp.adoption.companyId">CompanyId</label>
                            <input type="number" class="form-control"
                                   ng-model="adoption.companyId">
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteAdoptionConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" ng-submit="confirmDelete(adoption.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="afikomanApp.adoption.delete.question" translate-values="{id: '{{adoption.id}}'}">Are you sure you want to delete Adoption {{adoption.id}}?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th translate="afikomanApp.adoption.employeeName">EmployeeName</th>
                    <th translate="afikomanApp.adoption.employeeEmail">EmployeeEmail</th>
                    <th translate="afikomanApp.adoption.company">Company</th>
                    <th translate="afikomanApp.adoption.organization">Organization</th>
                    <th translate="afikomanApp.adoption.kid">Kid</th>
                    <th translate="afikomanApp.adoption.kidId">KidId</th>
                    <th translate="afikomanApp.adoption.organizationId">OrganizationId</th>
                    <th translate="afikomanApp.adoption.companyId">CompanyId</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="adoption in adoptions">
                    <td><a ui-sref="adoptionDetails({id:adoption.id})">{{adoption.id}}</a></td>
                    <td>{{adoption.employeeName}}</td>
                    <td>{{adoption.employeeEmail}}</td>
                    <td>{{adoption.company}}</td>
                    <td>{{adoption.organization}}</td>
                    <td>{{adoption.kid}}</td>
                    <td>{{adoption.kidId}}</td>
                    <td>{{adoption.organizationId}}</td>
                    <td>{{adoption.companyId}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="adoptionDetail({id:adoption.id})"
                                class="btn btn-info">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="update(adoption.id)"
                                class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(adoption.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
