<div>

    <h2 translate="afikomanApp.gift.home.title">Gift</h2>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveGiftModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> <span translate="afikomanApp.gift.home.createLabel">Create a new Gift</span>
    </button>
    <div class="modal fade" id="saveGiftModal" tabindex="-1" role="dialog" aria-labelledby="myGiftLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myGiftLabel" translate="afikomanApp.gift.home.createOrEditLabel">Create or edit a Gift</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="gift.id" readonly>
                        </div>

                        <div class="form-group">
                            <label translate="afikomanApp.gift.name">Name</label>
                            <input type="text" class="form-control"
                                   ng-model="gift.name">
                        </div>
                        <div class="form-group">
                            <label translate="afikomanApp.gift.dateAdded">DateAdded</label>
                            <input type="datetime-local" class="form-control"
                                   ng-model="gift.dateAdded" ng-model-options="{timezone: 'UTC'}">
                        </div>
                        <div class="form-group">
                            <label translate="afikomanApp.gift.inStock">InStock</label>
                            <input type="checkbox" class="form-control"
                                   ng-model="gift.inStock">
                        </div>
                        <div class="form-group">
                            <label translate="afikomanApp.gift.price">Price</label>
                            <input type="number" class="form-control"
                                   ng-model="gift.price">
                        </div>
                        <div class="form-group">
                            <label translate="afikomanApp.gift.picture">Picture</label>
                            <input type="text" class="form-control"
                                   ng-model="gift.picture">
                        </div>
                        <div class="form-group">
                            <label translate="afikomanApp.gift.metadata">Metadata</label>
                            <input type="text" class="form-control"
                                   ng-model="gift.metadata">
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteGiftConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" ng-submit="confirmDelete(gift.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="afikomanApp.gift.delete.question" translate-values="{id: '{{gift.id}}'}">Are you sure you want to delete Gift {{gift.id}}?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th translate="afikomanApp.gift.name">Name</th>
                    <th translate="afikomanApp.gift.dateAdded">DateAdded</th>
                    <th translate="afikomanApp.gift.inStock">InStock</th>
                    <th translate="afikomanApp.gift.price">Price</th>
                    <th translate="afikomanApp.gift.picture">Picture</th>
                    <th translate="afikomanApp.gift.metadata">Metadata</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="gift in gifts">
                    <td><a ui-sref="giftDetails({id:gift.id})">{{gift.id}}</a></td>
                    <td>{{gift.name}}</td>
                    <td>{{gift.dateAdded}}</td>
                    <td>{{gift.inStock}}</td>
                    <td>{{gift.price}}</td>
                    <td>{{gift.picture}}</td>
                    <td>{{gift.metadata}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="giftDetail({id:gift.id})"
                                class="btn btn-info">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="update(gift.id)"
                                class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(gift.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
